<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
    <img src="https://w7.pngwing.com/pngs/750/193/png-transparent-computer-icons-shoe-project-sepatu-logo-monochrome-adidas.png" alt="">

        <nav>
            <a href="#">Text</a>
            <a href="#">Text</a>
            <a href="#">Text</a>
            <a href="#">Text</a>
            <a href="#">Text</a>
        </nav>
    </div>

    <div class="ContentBin">
        <div class="BlocBin1">
            <h1>Ваши товары</h1>
        <div class="BinProduct">
            <div class="product-wrap">
                <div class="product-image">
                    <a href=""><img src="../png/product.jpg"></a>
                    <div class="shadow"></div>
                    <div class="actions">
                        <div class="actions-btn">

                            <div class="add-to-links">

                                <div class="add-to-compare">
                                    <a class="add-to-compare-button" href="#" title="Добавить для сравнения"></a>
                                </div>
                                <div class="quikview">
                                    <a class="quikview-button" href="#" title="Быстрый просмотр"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <h3>Кросы Nike</h3>
                    <div class="price">&#8381; 1999</div>
                </div>

            </div>
            <div class="product-wrap">
                <div class="product-image">
                    <a href=""><img src="../png/product.jpg"></a>
                    <div class="shadow"></div>
                    <div class="actions">
                        <div class="actions-btn">

                            <div class="add-to-links">

                                <div class="add-to-compare">
                                    <a class="add-to-compare-button" href="#" title="Добавить для сравнения"></a>
                                </div>
                                <div class="quikview">
                                    <a class="quikview-button" href="#" title="Быстрый просмотр"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <h3>Кросы Nike</h3>
                    <div class="price">&#8381; 1999</div>
                </div>

            </div>
            <div class="product-wrap">
                <div class="product-image">
                    <a href=""><img src="../png/product.jpg"></a>
                    <div class="shadow"></div>
                    <div class="actions">
                        <div class="actions-btn">

                            <div class="add-to-links">

                                <div class="add-to-compare">
                                    <a class="add-to-compare-button" href="#" title="Добавить для сравнения"></a>
                                </div>
                                <div class="quikview">
                                    <a class="quikview-button" href="#" title="Быстрый просмотр"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <h3>Кросы Nike</h3>
                    <div class="price">&#8381; 1999</div>
                </div>

            </div>
        </div>
        </div>

        <div class="BlocBin2">
            <div class="productBin">
                <div class="productBinBox">

                </div>
            </div>
            <div class="SumBin">

            </div>
        </div>
    </div>
</body>
</html>