*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    margin-left: 20px;
    margin-top: 30px;
}

/*Registrai.html  to_come_in.html*/
.Content_Reg{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:solid 2px #3f92b0;
    width: 330px;
    border-radius: 7px;
    padding: 10px;
}

.Bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.Center{

    display: flex;
    justify-content: center;
}

.Center img {
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

.Content_Reg input{
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 5px ;
    border:solid 1px #3f92b0;
}

.Content_Reg Select{
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 5px ;
    border:solid 1px #3f92b0;
}

.Content_Reg button{
    height: 50px;
    margin-top: 10px;
    border-radius: 5px ;
    border:solid 1px #3f92b0;
    width: 200px;
}


.blye{
    background: #3f92b0;
    color: #fff;
}

.blye:hover{
   background: white;
    color: #3f92b0;
}
/*Registrai.html  to_come_in.html*/

/*Home.html*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #3f92b0;
    border-radius: 5px;
    height: 70px;
    padding: 5px;
    border: 1px solid #3f92b0;
    margin-left:5px ;
}

.navigation a:hover {
    color: #3f92b0;
    background: #ffffff;
    border: 1px solid #3f92b0;
}

.navigation img {
    height: 50px;
    width: 100px;
}

.Bloc1{
    display: flex;
    justify-content: center;

}



.Slaider{
    height: 300px;
    width: 80vw;
    border: 1px solid #000;
}

.categories{
    display: flex;
    justify-content: space-around;

}

.BoxCategories{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    padding: 30px 45px;
    border-radius:10px;

}

.BoxCategories h3 {
    color: #555;
    font-size: 15px;
    font-family: 'Open Sans', serif;
}

.BoxCategories:hover .add-to-cart {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.BoxCategories img{
    height: 80px;
    width: 120px;
}

.Bloc2{
    margin-top: 20px;
}

.Bloc3{

}

.Line{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.Box img {
    height: 100px;
    width: 150px;
}


.Box{
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    border: none;
    background: #eff3f8;
    border-radius: 5px;
    color: #262626;
    height: 320px;
}

.product-wrap {
    width: 300px;
    text-align: center;
    background: white;
    margin: 0 auto;
}
.product-image {
    position: relative;
}
.product-image a {
    display: block;
}
.product-image img {
    display: block;
    width: 100%;
}
.shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.product-wrap:hover .shadow {
    opacity: 1;
}
.actions {
    bottom: 15px;
    right: 15px;
    position: absolute;
}
.add-to-cart {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50px);
    transition: 1s ease-in-out;
}
.actions a {
    background: #202020;
    color: white;
    display: block;
    height: 36px;
    line-height: 36px;
    width: 42px;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.actions a:before {
    font-family: FontAwesome;
    font-size: 14px;
}
.add-to-cart-button:before {
    content: "\f07a";
}
.add-to-wishlist-button:before {
    content: "\f004";
}
.add-to-compare-button:before {
    content: "\f079";
}
.quikview-button:before {
    content: "\f002";
}
.actions a:hover {
    background: #67BFA6;
}
.product-wrap:hover .add-to-cart {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}
.add-to-wishlist {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50px);
    transition: .8s ease-in-out;
    margin: 9px 0 0;
}
.product-wrap:hover .add-to-wishlist, .product-wrap:hover .add-to-compare, .product-wrap:hover .quikview {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}
.add-to-compare {
    opacity: 0;
    position: relative;
    visibility: hidden;
    transition: .6s ease-in-out;
    transform: translate(0, -50px);
    margin: 9px 0 0;
}
.quikview {
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
    transform: translate(0, -50px);
    margin: 9px 0 0;
}
.product-list {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', serif;
}
.product-list h3 {
    color: #555;
    font-size: 15px;
    font-family: 'Open Sans', serif;
}
.price {
    font-weight: bold;
    font-size: 16px;
    color: #ff7659;
}

.Box>h3 {
    text-transform: uppercase;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.buy button{
    padding: 6px 15px;
    align-items: center;
    border-radius:5px;
    margin-left: 20px;
    color: #ffffff;
    background: #3f92b0;
    border: 1px solid #3f92b0;

}

.buy button:hover{
    color: #3f92b0;
    background: #ffffff;
    border: 1px solid #3f92b0;
}

.Box h3{
    border-bottom: 2px solid #000000 ;
}

.description{
    width: 200px;
    border-bottom:1px solid #000000 ;
    border-top:1px solid #000000 ;
    margin-top: 5px;
    padding: 10px 15px;
}

.Bloc4{
    height: 20vh;
    background: #3f92b0;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    color: #000;
    align-items: center;
}
.pngDown img{
    margin-left: 10px;
}

.Number{

}

.pngDown img{
    width: 2vw;
    height: 5vh;
}
/*Home.html*/

/*Bin.html*/
.ContentBin{
    display: flex;
}

.BlocBin1{
    width:70vw;
    height: 91.9vh;
    background: #212121;
}

.BlocBin2{
    background: #3f92b0;
    height: 91.9vh;
    width: 30vw;
}
.productBin{
    width: 30vw;
    height: 70vh;
}
.SumBin{
    width: 30vw;
    height: 21.9vh;
}
/*Bin.html*/

/*Profile.html*/
.ContentProfile{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

.BlocProfile1{
    width: 30vw;


}
.ProfileImg{
    display: flex;
    flex-direction: column;
    width: 10vw;
    border: 1px solid #000000;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    padding: 10px;
}

.BlocProfile1 img{
    width: 5vw;
    height: 10vh;
}

.BlocProfile2{
    width: 70px;
}
/*Profile.html*/